body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  width: 794px; /* عرض صفحة A4 */
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #333;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.rating-input {
  display: flex;
  justify-content: center;
}

.rating-input input[type="radio"] {
  display: none;
}

.rating-input label {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
